<%= form_with(model: @task, remote: true) do |form| %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :task_description %>
  </div>

  <div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <%= form.label :deadline %> <!-- label anterior -->
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">

                <%= form.text_field :deadline, class: "form-control datetimepicker-input", data: {target: "#datetimepicker1"} %>

                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
    </div>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
